---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"

---

<Layout
  title="Porfolio de Christian Cano - Desarrollador y Programador"
  description="Porfolio de Christian Cano."
>
  <main class="px-4">
    <SectionContainer id="inicio" class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/portafolio/img_canostein.jpg"
        alt="chris photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Christian Cano Stein<a
          href="https://linkedin.com/in/midudev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Trabajando actualmente...</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span>+5 años de experiencia.</span><span class="text-yellow-200">
          Full-Stack Software Developer </span
        >
         .<span class="text-red-200"> De Capiatá, Paraguay</span>.
        <span class="text-sky-200"
          >Analista/Programador</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/christian-cano-stein-965b68251/">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/midudev">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:canostein@gmail.com">
          <MailIcon class="size-4 md:size-6" />
           canostein@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Sobre Mi
      </h2>
      <Projects />
    </SectionContainer>

    
    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
         Contacto
      </h2>
      <Projects />
    </SectionContainer>


  </main>
</Layout>
