---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Analista de Sistema / Programador - Núcleo S.A",
    description:
      "Desarrollo de y mejoramiento constante de la plaforma de gestión de la empresa.",
    /* link: "https://twitch.tv/midudev", */
  },
  {
    date: "Junio 2022",
    title: "Programador  − Konecta S.A",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. " +
      "Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
   
  },
  {
    date: "Marzo 2020",
    title: "Programador  − Cast S.R.L",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. " +
      "Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
   
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
