---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Junio 2022 - Actualmente...",
    title: "Analista de Sistema / Programador - Núcleo S.A",
    description:
    "Optimizar la funcionalidad y eficiencia de la herramienta JOPARA, que permite a la empresa administrar"+
    " y monitorear procesos clave. Esto incluye integrar nuevas características, corregir errores, y asegurar "+
    "que la plataforma sea escalable y fácil de usar, alineando siempre las soluciones con los objetivos "+
    "de productividad y control empresarial"
    /* link: "https://twitch.tv/midudev", */
  },
  {
    date: "Abril 2020 - Junio 2022",
    title: "Programador  − Konecta S.A",
    description:
      "Fabrica de Sotware - Creación de soluciones tecnológicas, trabajando con las últimas herramientas y tecnologías para satisfacer las necesidades específicas de los clientes y garantizando altos estándares de calidad. " 
   
  },
  {
    date: "Junio 2018 - Abril 2020",
    title: "Programador  − Cast S.R.L",
    description:
      "Encargado de desarrollar y optimizar aplicaciones móviles y web que permiten gestionar y monitorear "+
      " equipos en tiempo real. Integracion de funcionalidades como seguimiento por GPS, generación de informes de productividad, " +
      " y gestión de pedidos y rutas, garantizando que las soluciones tecnológicas sean eficientes y fáciles de usar para empresas de ventas y servicios."
   
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
